@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Poppins;
  src: url('/fonts/Poppins-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Poppins;
  src: url('/fonts/Poppins-Regular.ttf');
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Poppins;
}

.dark .GridLockup_beams-7__fKBjN {
  background-image: url('/images/background-colors.png');
  background-size: 137.3125rem 100%;
  height: 37.0625rem;
}
