body {
    font: 14px/18px Arial,Helvetica,sans-serif;
    background-color: #000;
}

.container {
    max-width: 1280px;
    margin: auto;
    padding: 200px 20px;
}

.main {
    font-size: 32px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1;
}

h1 {
    font-size: 1.5em;
}