@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Poppins;
  src: url('/fonts/Poppins-SemiBold.woff2');
  font-weight: 600;
}

@font-face {
  font-family: Poppins;
  src: url('/fonts/Poppins-Regular.woff2');
  font-weight: 400;
}

body {
  font-family: Poppins;
}

h1,
h2 {
  font-weight: 600;
}
